.card {
    background-color: #111;
    color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-img {
    width: 60%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  
  .card-title {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 5px #ff0000;
  }
  
  .card-description {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 1.5rem;
  }
  
  .card-price {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 0 0 5px #ff0000;
  }
  
  .card-category {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 1rem;
  }
  
  .button-terminar-compra,
  .button-volver {
    background-color: #ff0000;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3rem;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .button-terminar-compra:hover,
  .button-volver:hover {
    background-color: #cc0000;
  }
  
  /* Media Queries para tablet y desktop */
  @media (min-width: 600px) {
    .card {
      padding: 2rem;
    }
  
    .card-title {
      font-size: 2rem;
    }
  
    .card-description {
      font-size: 1rem;
    }
  
    .card-price {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 900px) {
    .card {
      padding: 3rem;
    }
  
    .card-title {
      font-size: 3rem;
    }
  
    .card-description {
      font-size: 1.6rem;
    }
  
    .card-price {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1200px) {
    .card {
      padding: 2rem;
    }
  
    .card-title {
      font-size: 2.5rem;
    }
  
    .card-description {
      font-size: 1rem;
    }
  
    .card-price {
      font-size: 2rem;
    }
  }
  