.cart-widget {
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  }
  
  .cart-widget img {
    margin-right: 1rem;
  }
  
  .cart-widget p {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 5px #ff0000;
  }
  
  .cart-widget:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px rgba(255, 0, 0, 1);
  }
  
  @media (min-width: 600px) {
    .cart-widget {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
  
    .cart-widget img {
      margin-right: 1.5rem;
    }
  }
  
  @media (min-width: 900px) {
    .cart-widget {
      font-size: 2rem;
    }
  }
  