.item-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.item {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
  text-align: center;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.item h2 {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 5px #ff0000;
}

.item a {
  color: #ff0000;
  font-size: 1.1rem;
  text-decoration: none;
  margin-top: 1rem;
  text-shadow: 0 0 5px #ff0000;
}

@media (min-width: 600px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .item h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 900px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .item h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .item-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .item h2 {
    font-size: 2.2rem;
  }
}
